html {
    height: 100%;
}
body {
    margin: 0;
    padding: 0;
    height: 100%;
}
#home {
    padding-top: 100px;
}
section{
	padding-top: 40px;
}
.row {
	height: 100%;
	width: 100%;*/
}
.heading{
	opacity: 0.75;
	position: relative;
	top : 10%;
	width: 100%;
}
.heading-text{
	font-weight: bolder;
}
.heading-quote{
	font-size: 18px;
	font-weight: bolder;
}
.sub-heading{
	text-decoration: underline;
}
.card-title{
	font-style: italic;
}
#aboutlist{
	opacity: 1;
}
.aboutlistcards{
	opacity: 1;
}
#aboutlistcards:hover{
	transform : scale(1.25);
}
.socialicons{
	font-size: 24px;
}
.star{
	color: #FFD700;
}
.bottom-sheet {
	width: 100% !important ; 
	max-height: 100% !important ;
	height: 96% !important;
	overflow-y: hidden !important;
}